.p-5{
    background-image: linear-gradient(180deg,#c88f42, #f3d396);
    overflow:hidden;
}

h1 .mb-3{
    font-size: 80px;
    font-family: 'Fjalla One', sans-serif;
   
    
}
.mb-3{
    animation-duration: 5s;
    animation-name: roll;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}
@keyframes roll {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
h4 .mb-3{
    font-size: 50px;
    font-family: 'Fjalla One', sans-serif;}
